<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tevinjeffrey.rutgersct" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:name=".RutgersCTApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/RutgersCT_Default"
        tools:replace="android:icon,android:label" >
        <meta-data
            android:name="DATABASE"
            android:value="tracked_sections.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.tevinjeffrey.rutgersct.database" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:launchMode="singleTop" >
        </activity>

        <service
            android:name=".data.uctapi.notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".data.uctapi.notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="833534bcb0efa4959e3a72cd803a7e3251d6bc65" />

        <receiver
            android:name=".receivers.DatabaseReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.IntroActivity"
            android:label="@string/title_activity_intro" >
        </activity>
    </application>

</manifest>
