<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tevinjeffrey.rutgersct">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".RutgersCTApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/RutgersCT"
        tools:replace="android:icon,android:label">
        <meta-data
            android:name="DATABASE"
            android:value="tracked_sections.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.tevinjeffrey.rutgersct.model" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BasePreferenceActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop">
        </activity>

        <receiver
            android:name=".receivers.AlarmWakefulReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.RequestService"
            android:enabled="true"
            android:exported="false"/>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="833534bcb0efa4959e3a72cd803a7e3251d6bc65" />

        <receiver
            android:name=".receivers.DatabaseReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>
